<app-navbar></app-navbar>
<!-- navbar end  -->
<form>
<div>
	<img style="width: 100%; margin-top: -1.5rem;" src="assets/hospital-about.jpg" alt="hospital-bs -img" >
   </div>
  </form>
<div class="container">
  <div class="row">
      <div class="col-md-6">
          <div class="well-block">
              <div class="well-title">
                  <h2>Questions? Book an Appointment</h2>
              </div>
              <form (ngSubmit)="submit()">
                  <!-- Form start -->
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-group">
                              <label class="control-label" for="name">Name</label>
                              <input  name="name" type="text" placeholder="Name" class="form-control input-md">
                          </div>
                      </div>
                      <!-- Text input-->
                      <div class="col-md-6">
                          <div class="form-group">
                              <label class="control-label" for="email">Email</label>
                              <input id="email" name="email" type="text"placeholder="E-Mail" class="form-control input-md">
                          </div>
                      </div>
                      <!-- Text input-->
                      <div class="col-md-6">
                          <div class="form-group">
                              <label class="control-label" for="date">Preferred Date</label>
                              <input id="date" name="date" type="date" placeholder="Preferred Date" class="form-control input-md" >
                          </div>
                      </div>
                      <!-- Select Basic -->
                      <div class="col-md-6">
                          <div class="form-group">
                              <label class="control-label"  for="time">Preferred Time</label>
                              <select id="time" name="time" class="form-control">
                                  <option value="8:00 to 9:00">8:00 to 9:00</option>
                                  <option value="9:00 to 10:00">9:00 to 10:00</option>
                                  <option value="10:00 to 1:00">10:00 to 1:00</option>
                              </select>
                          </div>
                        </div>
                      <!-- Select Basic -->
                      <div class="col-md-12">
                          <div class="form-group">
                              <label class="control-label"  for="appointmentfor">Appointment For</label>
                              <select id="appointmentfor" name="appointmentfor" class="form-control">
                                  <option value="Service#1">Service#1</option>
                                  <option value="Service#2">Service#2</option>
                                  <option value="Service#3">Service#3</option>
                                  <option value="Service#4">Service#4</option>
                              </select>
                          </div>
                      </div>
                      <!-- <div class="form-group">
                        <label for="exampleFormControlTextarea1" [(ngModel)]="Emergency" [ngModelOptions]="{ standalone: true}">Emergency description</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div> -->
                      <div class="input-group" style="position:static;">
                        <div class="input-group-prepend">
                          <span class="input-group-text">With textarea</span>
                        </div>
                        <textarea class="form-control" aria-label="With textarea" style="position:static;"></textarea>
                      </div>
                        <div class="form-group">
                          <label for="exampleFormControlFile1">Previous Report</label> <br>
                          <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div>
                    
                      <!-- Button -->
                      <div class="col-md-12">
                          <div class="form-group">
                            <br>
                              <button id="singlebutton" name="singlebutton" class="btn btn-default">Make An Appointment</button>
                          </div>
                      </div>
                  </div>
              </form>
              <!-- form end -->
          </div>
      </div>
      <div class="col-md-6">
          <div class="well-block">
              <div class="well-title">
                  <h2>Why Appointment with Us</h2>
              </div>
              <div class="feature-block">
                  <div class="feature feature-blurb-text">
                      <h4 class="feature-title">24/7 Hours Available</h4>
                      <div class="feature-content">
                          <p>Integer nec nisi sed mi hendrerit mattis. Vestibulum mi nunc, ultricies quis vehicula et, iaculis in magnestibulum.</p>
                      </div>
                  </div>
                  <div class="feature feature-blurb-text">
                      <h4 class="feature-title">Experienced Staff Available</h4>
                      <div class="feature-content">
                          <p>Aliquam sit amet mi eu libero fermentum bibendum pulvinar a turpis. Vestibulum quis feugiat risus. </p>
                      </div>
                  </div>
                  <div class="feature feature-blurb-text">
                      <h4 class="feature-title">Low Price & Fees</h4>
                      <div class="feature-content">
                          <p>Praesent eu sollicitudin nunc. Cras malesuada vel nisi consequat pretium. Integer auctor elementum nulla suscipit in.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- appoint ment end  -->
<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <!-- <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div> -->
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Company name
          </h6>
          <p>
            Here you can use rows and columns to organize your footer content. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">React</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
          <!-- <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p> -->
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Virinchi.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->