   <header>
    <nav id="navbar">
      <div id="name" aria-current="page" onclick="redirectTohome()">Virinchi</div>
      <ul>
        <li><a (click)="redirectTohome()">Home</a></li>
        <li><a (click)="redirectTodepartments()">Departments</a></li>
        <li><a>Hospital</a></li>
        <li><a>Facility</a></li>
        <li><a (click)="redirectTocontactus()">Contact Us</a></li>
        <li>
          <form class="d-flex">
            <input class="form-control me-3" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
          </form>
        </li>
        <li><button class="appointment" (click)="redirectTologin()">Log in</button></li>
      </ul>
    </nav>
  </header>